<article>
  <p><a target="_blank" href="https://bonner.jp">
      by jp
    </a></p>
  <p><a target="_blank" href="https://twitter.com/inflammateomnia">
      @inflammateomnia
    </a></p>
  <p>
    I am not a financial advisor and none of this is financial advice
  </p>
  <p>
    do your own research and come to your own conclusions
  </p>
</article>
