<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      jp.bonner@bonner.jp if you want to help
     -->

    <meta charset="utf-8">
    <%= live_title_tag assigns[:squeeze_status] || "", prefix: "is it squoze? · " %>


    <!-- Primary Meta Tags -->
    <meta name="title" content="is the squeeze squoze yet?">
    <meta name="description" content="<%= assigns[:squeeze_status] %>.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1c1c1c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://isthesqueezesquoze.com/">
    <meta property="og:title" content="is the squeeze squoze yet?">
    <meta property="og:description" content="<%= assigns[:squeeze_status] %>.">
    <meta property="og:image" content="<%= static_url_without_port(@conn, "/images/#{assigns[:squeeze_status]}.png") %>">
    <meta property="og:image" content="<%= static_url_without_port(@conn, "/images/#{assigns[:squeeze_status]}.png") %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://isthesqueezesquoze.com/">
    <meta property="twitter:title" content="is the squeeze squoze yet?">
    <meta property="twitter:description" content="<%= assigns[:squeeze_status] %>.">
    <meta property="twitter:image" content="<%= static_url_without_port(@conn, "/images/#{assigns[:squeeze_status]}.png") %>">

    <!-- Apple -->
    <link rel="apple-touch-icon" href="<%= static_url_without_port(@conn, "/images/#{assigns[:squeeze_status]}.png") %>">

    <%= csrf_meta_tag() %>

    <!-- Asset tags & scripts -->
    <link phx-track-static rel="stylesheet" type="text/css" href="<%= static_url_without_port(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= static_url_without_port(@conn, "/js/app.js") %>"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-HLD7RFSLFN');
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
